* {
	box-sizing: border-box;
	font-family: sans-serif;
}

.cat {
	height: 450px;
	width: 640px;
	color: white;
	text-shadow: 2px 2px 2px black;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-size: cover;
}

.count {
	font-size: 40px;
}

.name {
	font-size: 20px;
}