* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	margin: 0;
	border: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	background-color: pink;
}

header {
	width: 100%;
	height: 100px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px black;
}

section {
	width: 65%;
}

aside {
	width: 35%;
	height: 100vh;
	padding: 10px;
	color: white;
	text-shadow: 2px 2px 2px black;
	font-size: 20px;
}

.links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.links li {
	padding-bottom: 10px;
}

.links li:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.cat {
	height: 600px;
	width: 100%;
	color: white;
	text-shadow: 2px 2px 2px black;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-size: cover;
}

.count {
	font-size: 40px;
}

.name {
	font-size: 20px;
}

.admin {
	margin: 10px;
	padding: 5px;
	width: 80px;
	height: 65px;
	background-color: white;
	color: pink;
	webkit-transition: height 1s, width 1s;
	transition: height 1s, width 1s;
	overflow: hidden;
}

.inputs {
	display: flex;
	flex-direction: column;
}

label {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.buttons {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}

#cancel, #edit {
	padding: 5px;
	width: 100px;
	background-color: pink;
	color: white;
	text-align: center;
}

.admin h4 {
	padding-left: 10px;
}